{% extends 'navbar.html' %}
{% block title %}Change Password{% endblock title %}
{% block body %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-light" role = "alert">
      {{message}}
    </div>
    {% endfor %}
{% endif %}
    <div class="container_mylogin">
        <h1 class="h1_mysignup">Change Password</h1>
        <form action="/change_password/" method="POST">
            {% csrf_token %}
            {% for field in form  %}            
            <div class="form-group edit_password_input">
              <label for="exampleInputEmail1"> {{field.label}} </label>
              {{field}}
            </div>
            {% endfor %}
            <p>* Password should be atleast 8 characters</p>
            <p>* Also include numbers and special symbols</p>
            <div class="submit_mylogin">
              <button type="submit" class="btn btn-primary mb-5">Change Password</button>
              <a class="btn btn-secondary mb-5" href="/profile">Cancel</a>
            </div>
          </form>
    </div>
    {% endblock body %} 